@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav img {
    height: 6vw;
    border-radius: 40px 0px 40px 0px;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 3vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #00000047;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;

}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4:hover a {
    color: white;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding: 4vw;

}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 9vw;
    line-height: 7.5vw;
    text-align: right;
}

#page1 video {
    border-radius: 20px;
    margin-top: 5vw;
    width: 100%;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 45vw;
    height: 30vw;
    right: 0;
    top: 72vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(35%, -15%);
    }

    to {
        transform: translate(0%, 19%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-30%, 30%);
    }
}


#page2{
    min-height: 100vh;
    width: 100%;
    background-color: aquamarine;
}