@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav img {
    height: 6vw;
    border-radius: 40px 0px 40px 0px;
    ;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

nav h3 {
    display: none;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #00000047;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;

}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4:hover a {
    color: white;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding: 4vw;

}

#left h3 {
    width: 25vw;
    font-size: 2vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 8vw;
    line-height: 7.5vw;
    text-align: right;
}

#page1 video {
    border-radius: 20px;
    margin-top: 5vw;
    width: 100%;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 45vw;
    height: 30vw;
    right: 0;
    top: 72vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(35%, -15%);
    }

    to {
        transform: translate(0%, 19%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-30%, 30%);
    }
}


#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 6vw 0;
    position: relative;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-duration: 8s;
    animation-name: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

#moving-text h1 {
    font-size: 6vw;
    /* background-color: yellowgreen; */
    display: inline-block;
}

#gola {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 90vh;
    width: 100%;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    position: relative;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 50%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 20px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(to top, #FE320A, #fe5b0a);
    position: absolute;
    top: 55%;
    left: 20%;
    filter: blur(30px);
    animation-name: gooey;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes gooey {
    from {
        transform: translate(10%, -10%) skew(0);
    }

    to {
        transform: translate(-10%, 10%) skew(-12deg);
    }
}


#page3 {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.elem {
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: orange;
    left: 0;
    top: -100%;
    transition: all ease 0.4s;
}

.elem:hover .overlay {
    top: 0;
}


#fixed-img {
    position: fixed;
    height: 30vw;
    width: 23vw;
    border-radius: 10%;
    top: 25%;
    left: 50%;
    z-index: 99;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}
.swiper-slide p {
    font-size: 18px;
    padding: 0 2vw;
    margin-top: 1vw;
    font-weight: 100;
}

#page5 {
    height: 100vh;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;
}

#footer {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #000;
    color: white;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#footer h1 {
    font-size: 23vw;
    z-index: 9;
    /* line-height: 8vw;
    padding: 0 2vw; */
}

#footer-div {
    height: 50vh;
    width: 100%;
    background-color: #fe5b0a;
    font-size: 2vw;
    align-items: center;
    justify-content: space-between;
    display: flex;
    left: 20%;
    padding: 0 4vw;
    top: 70%;
}

#footer-div h6 {
    width: 30%;
    font-weight: 200;
    line-height: 2vw;

}

#footer-bottom {
    height: 10vh;
    width: 100%;
    border-top: 1px solid #dadada;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}






/* media query */
@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        font-size: 3vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }


}

#loader {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1 {
    font-size: 8vw;
    color: transparent;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1 {
        font-size: 9vw;

    }
}